.singlePost {
    flex: 9;
    &Wrapper{
        padding: 20px;
        padding-right: 0;
        }
    &Img{
        width: 100%;
        height: 300px;
        border-radius:  5px;
        object-fit: cover;
        }
    &Title {
        text-align: center;
        margin: 10px;
        font-family: 'Lora', serif;
        font-size: 20px;
    } 
    &Edit{
        float: right;
        font-size: 16px;
    }   
    &Icon {
        margin-left: 10px;
        cursor: pointer;
        &:first-child {
            color: teal;
        }
        &:last-child {
            color: tomato;
        }
    }
    &Info {
        margin-bottom: 20px;
        display: flex;
        justify-content:  space-between;
        font-size: 16px;
        font-family: 'Varela Round', sans-serif;
        color: #b39656
    }
    &Desc {
        color: #666;
        font-size:  18px;
        line-height:  25px;
        &::first-letter {
            margin-left: 20px;
            font-size: 30px;
            font-weight: 600;
        }
    }
    
    }   
    
